{"openapi":"3.0.1","info":{"description":"REST Interfaces exposed by the analytics platform. <a href=\"#operations-Login_Token_Management-login\">Click here to get a JWT Authentication Token</a>","title":"KloudInsights Platform APIs","version":"21969"},"externalDocs":{"description":"KloudInsights Documentation","url":"https://documentation.kloudspot.com"},"servers":[{"url":"https://walker.kloudspot.com/advanced","description":"Generated server url"}],"security":[{"Authorization":[]}],"tags":[{"description":"Public endpoints for managing Visits","name":"Public Visits"},{"description":"APIs providing access to the location/zone heirarchy","name":"Site Hierarchy"},{"description":"Endpoints for Visit creations, updates and searches","name":"Visits"},{"description":"Employee Catering Service Endpoints","name":"Employee Catering"},{"description":"APIs providing access to aggregated analytic results.","name":"Analytics Queries"},{"description":"APIS for managing images, icons and floormap tiles.","name":"Image Management Resource"},{"description":"APIs providing geo json configuration for locations","name":"Location GeoJson Configuration"},{"description":"APIs providing access to aggregated iot analytic results.","name":"IOT Analytics Queries"},{"description":"APIs for shortening and resolving URLs.","name":"URL Shortener"},{"description":"Human endpoints for frs analytics","name":"Human"},{"description":"APIs providing access to network element status","name":"Network Element(Wifi/Ble/Camera/AirQuality) Monitoring API's"},{"description":"Obtain a JWT access token based on API id/secret","name":"Login Token Management"},{"description":"APIs providing access to camera related analytic results.","name":"Camera Analytics Queries"},{"description":" Upload Images in chunks using Tus Protocol","name":"Human Images"},{"description":"APIs to enable integration of external kiosk to kloudhybrid.","name":"External Kiosk integration API"},{"description":"APIs for Elasticsearch Schema and Index Management","name":"Elasticsearch Schema Management"},{"description":"APIs for searching, updating, and deleting data in Elasticsearch indices.","name":"Elasticsearch Data Management"}],"paths":{"/api/v1/alerts":{"get":{"operationId":"findAlertsByUser","parameters":[{"in":"query","name":"keyword","required":false,"schema":{"type":"string"}},{"in":"query","name":"showUnreadOnly","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertListDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["alert-resource"]}},"/api/v1/alerts/alert/{alertId}":{"put":{"operationId":"updateReadStatus","parameters":[{"in":"path","name":"alertId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Alert"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Update user alerts read status","tags":["alert-resource"]}},"/api/v1/alerts/deleteAll":{"put":{"operationId":"deleteAllAlerts","responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"delete all for particular user","tags":["alert-resource"]}},"/api/v1/alerts/readAll":{"put":{"operationId":"readAll","responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Mark user alerts as read","tags":["alert-resource"]}},"/api/v1/alerts/unread":{"get":{"operationId":"unread","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertListDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get all unread user alerts","tags":["alert-resource"]}},"/api/v1/analytics/clientMovements":{"get":{"deprecated":true,"operationId":"clientMovements_2","parameters":[{"in":"query","name":"start","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"site","required":false,"schema":{"type":"string"}},{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Type of devices for which movements are queried ex: bluetooth, probe. Default is probe.","in":"query","name":"deviceType","required":false,"schema":{"type":"string","default":"probe","enum":["probe","bluetooth"]}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]},"post":{"operationId":"clientMovements_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientMovementReqDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/deviceDemographics":{"get":{"operationId":"deviceDemographics","parameters":[{"description":"Start timestamp in milliseconds","in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"finish timestamp in milliseconds","in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"Include data from the hierarchy below locations","in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return session that correspond to the specified mac addresses","in":"query","name":"macs","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"A value against which the device attributes are searched against.","in":"query","name":"searchMacWithValue","required":false,"schema":{"type":"string"}},{"description":"Show only users that have social profile associated with them.","in":"query","name":"withSocialProfile","required":false,"schema":{"type":"string"}},{"description":"If true - shows only devices that are registered via captive portal, false - shows only devices that are not registered.","in":"query","name":"registered","required":false,"schema":{"type":"string"}},{"description":"Type of devices that needs be queried for ex: bluetooth, probe. Default value is probe.","in":"query","name":"deviceType","required":false,"schema":{"type":"string","enum":["probe","bluetooth"]}},{"description":"Duration (in minutes) greater than or equal to the specified value.","in":"query","name":"durationGTE","required":false,"schema":{"type":"number","format":"double"}},{"description":"Duration (in minutes) less than or equal to the specified value.","in":"query","name":"durationLTE","required":false,"schema":{"type":"number","format":"double"}},{"description":"Search in the next device type if no devices found. Only if deviceType is not passed.","in":"query","name":"searchNextTypeIfZero","required":false,"schema":{"type":"boolean","default":true}},{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/deviceSearch":{"get":{"operationId":"deviceSearch","parameters":[{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return session that correspond to the specified mac addresses","in":"query","name":"macs","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"A value against which the device attributes are searched against.","in":"query","name":"keyword","required":false,"schema":{"type":"string"}},{"description":"Type of devices that needs be queried for ex: bluetooth, probe. Default value is probe.","in":"query","name":"deviceType","required":false,"schema":{"type":"string","enum":["probe","bluetooth"]}},{"description":"Search in the next device type if no devices found. Only if deviceType is not passed.","in":"query","name":"searchNextTypeIfZero","required":false,"schema":{"type":"boolean","default":true}},{"description":"Search for device only in the specified locations.","in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/devicesForSite":{"get":{"operationId":"devicesForSite","parameters":[{"description":"Start timestamp in milliseconds (last 1 minute if start/finish not specified","in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"finish timestamp in milliseconds","in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"Include data from the hierarchy below locations","in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Only return the geo and mac info","in":"query","name":"geoOnly","required":false,"schema":{"type":"boolean","default":false}},{"description":"Return session that correspond to the specified mac addresses","in":"query","name":"macs","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"A value against which the device attributes are searched against.","in":"query","name":"searchMacWithValue","required":false,"schema":{"type":"string"}},{"description":"Type of devices that needs be queried for ex: bluetooth, probe. Default value is probe.","in":"query","name":"deviceTypes","required":false,"schema":{"type":"array","items":{"type":"string","enum":["probe","bluetooth"]}}},{"description":"Exclude passer by devices.","in":"query","name":"excludePasserBy","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/distribution":{"get":{"deprecated":true,"operationId":"distributionQuery_4","parameters":[{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"distributionType","required":false,"schema":{"type":"string","default":"clients","enum":["clients","dwells"]}},{"in":"query","name":"distributionTiming","required":true,"schema":{"type":"string","enum":["minutes","hourly","daily","weekly","monthly"]}},{"description":"Return data for last <n> minutes. (if start/finish are not set)","in":"query","name":"period","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"attributes","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]},"post":{"operationId":"distributionQueryV2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/generic":{"get":{"operationId":"genericQuery","parameters":[{"in":"query","name":"query","required":true,"schema":{"type":"string"}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultSet"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/generic/list":{"get":{"operationId":"genericQueryNames_1","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/movementTree":{"post":{"operationId":"movementTreeV4_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovementTreeReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovementTreeNode"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/pairwiseMovement":{"post":{"operationId":"pairwiseMovementV4_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PairwiseMovementReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultSet"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/repeatedUsers":{"get":{"operationId":"usersRepeatedForTimeRangeAndLocations","parameters":[{"in":"query","name":"fromStart","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"fromEnd","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"toStart","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"toEnd","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"fromLocations","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"toLocations","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/Document"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/runQuery":{"get":{"deprecated":true,"operationId":"runQuery","parameters":[{"in":"query","name":"query","required":true,"schema":{"type":"string"}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"usePassedLocations","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"attributes","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultSet"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]},"post":{"operationId":"runQueryV1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunQueryReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultSet"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/summary":{"get":{"operationId":"summary","responses":{"200":{"content":{"application/json":{"schema":{"type":"object"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/timeline":{"get":{"operationId":"timeline","parameters":[{"in":"query","name":"macAddresses","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/tzinfo":{"get":{"operationId":"getTimeZoneInfo","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TzInfo"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/userdetails":{"get":{"operationId":"allUserdetails","parameters":[{"in":"query","name":"minimumDurationFilterInMillis","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"in":"query","name":"associated","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeviceUserDTO"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/analytics/userdetails/{mac}":{"get":{"operationId":"userdetails","parameters":[{"in":"path","name":"mac","required":true,"schema":{"type":"string"}},{"in":"query","name":"minimumDurationFilterInMillis","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"mergeAdjSessionsIfDiffInMinutesLE","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientSession"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Analytics Queries"]}},"/api/v1/attributes":{"get":{"operationId":"getAll_6","parameters":[{"in":"query","name":"keyword","required":false,"schema":{"type":"string"}},{"in":"query","name":"purpose","required":false,"schema":{"type":"string","enum":["LOCATION","GROUP"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Attribute"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["attribute-resource"]},"post":{"operationId":"save_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attribute"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["attribute-resource"]}},"/api/v1/attributes/{purpose}/{name}":{"get":{"operationId":"getByNameAndPurpose","parameters":[{"in":"path","name":"purpose","required":true,"schema":{"type":"string","enum":["LOCATION","GROUP"]}},{"in":"path","name":"name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attribute"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["attribute-resource"]}},"/api/v1/audits":{"get":{"operationId":"getByDatesAsCSV","parameters":[{"in":"query","name":"fromDate","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"toDate","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/csv":{"schema":{"type":"string","format":"binary"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["audit-resource"]}},"/api/v1/auth/login":{"post":{"description":"Returns a JWT token the can be used for authentication.\n\n Use as a header for subsequent calls. For example:\n\n Authentication: Bearer {token} ","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/apikey"}}},"required":true},"responses":{"200":{"content":{"text/plain":{"schema":{"type":"string"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get a valid API token","tags":["Login Token Management"]}},"/api/v1/ble/analytics/deviceSummary":{"get":{"operationId":"deviceSummary","parameters":[{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"tagged","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"locations","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/ble/analytics/distribution":{"post":{"operationId":"distributionQuery_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DistributionReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/ble/analytics/generic/list":{"get":{"operationId":"genericQueryNames","responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/ble/analytics/macsForSite":{"get":{"operationId":"macsForSite","parameters":[{"description":"Start timestamp in milliseconds (last 1 minute if start/finish not specified","in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"finish timestamp in milliseconds","in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"description":"Include data from the hierarchy below locations","in":"query","name":"locations","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return elements that contain all the specified tags","in":"query","name":"tags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Exclude elements that contain any of the specified tags","in":"query","name":"excludeTags","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"Return session that correspond to the specified mac addresses","in":"query","name":"macs","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"description":"A value against which the device attributes are searched against.","in":"query","name":"searchMacWithValue","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/ble/analytics/sessions/{mac}":{"get":{"operationId":"deviceHistory","parameters":[{"in":"path","name":"mac","required":true,"schema":{"type":"string"}},{"in":"query","name":"minimumDurationFilterInMillis","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"in":"query","name":"limit","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"mergeAdjSessionsIfDiffInMinutesLE","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BLESession"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/ble/analytics/timeline":{"get":{"operationId":"bleTimeline","parameters":[{"in":"query","name":"macAddresses","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"start","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"finish","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"locations","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"useAggregatedData","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["ble-analytics-resource"]}},"/api/v1/booking":{"post":{"description":"Don't specify user. Those will be added server side.","operationId":"createOrModify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Create or modify a booking","tags":["booking-resource"]}},"/api/v1/booking/checkout":{"post":{"operationId":"checkoutBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompositeKey"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/claim":{"post":{"operationId":"checkinBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompositeKey"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/current":{"post":{"operationId":"getCurrentBookingsForUsers","parameters":[{"in":"query","name":"timestamp","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"key","required":false,"schema":{"type":"string","default":"login"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the current bookings for a list of users","tags":["booking-resource"]}},"/api/v1/booking/delegated":{"post":{"description":"Don't specify user. Those will be added server side.  You do need to specify user. Delegation permission will be checked","operationId":"createOrModifyDelegated","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Createor modify a delegated  a booking","tags":["booking-resource"]}},"/api/v1/booking/delegatee":{"get":{"operationId":"getForDelegatee_1","parameters":[{"in":"query","name":"from","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"virtual","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for which I am the delegate","tags":["booking-resource"]}},"/api/v1/booking/delegatee/modify":{"post":{"description":"Modify a booking that that belongs to a delegatee. If the booking is part of a series, once modified the booking will no longer be a part of the series.","operationId":"modifyDelegateBookingOfSeries","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Modify a single delegatee booking","tags":["booking-resource"]}},"/api/v1/booking/delegatee/pageable":{"get":{"operationId":"getForDelegatee","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"in":"query","name":"from","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"virtual","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for which I am the delegate as pages","tags":["booking-resource"]}},"/api/v1/booking/deleteFuture/{id}/{subid}":{"delete":{"operationId":"deleteFutureBookingInSeries","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"path","name":"subid","required":true,"schema":{"type":"string"}},{"in":"query","name":"hard","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Delete only future bookings from complete booking","tags":["booking-resource"]}},"/api/v1/booking/directreports":{"post":{"operationId":"getDirectReports","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingsForSiteQuery"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for manager direct reporting users","tags":["booking-resource"]}},"/api/v1/booking/extend":{"post":{"operationId":"extendBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtendDto"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/infospot/{infospotId}":{"get":{"operationId":"getInfospotBookings","parameters":[{"in":"path","name":"infospotId","required":true,"schema":{"type":"string"}},{"in":"query","name":"from","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/issue":{"post":{"operationId":"raiseIssueOnBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingIssue"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/location/{id}":{"get":{"deprecated":true,"description":"Can specify a time range or a specific time. If neither is set then returns the bookings for the current time.","operationId":"getForLocation","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"at","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"from","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"includeReleased","required":false,"schema":{"type":"boolean","default":false}},{"in":"query","name":"virtual","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get extended bookings for a floor/site","tags":["booking-resource"]},"post":{"description":"Can specify a time range or a specific time and or a schedule. If neither is set then returns the bookings for the current time.","operationId":"getForLocationAndSchedule","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"includeReleased","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingsForSiteQuery"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get extended bookings for a floor/site","tags":["booking-resource"]}},"/api/v1/booking/modify":{"post":{"description":"If the booking is part of a series, once modified the booking will no longer be a part of the series.","operationId":"modifyBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Booking"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Modify a single booking","tags":["booking-resource"]}},"/api/v1/booking/re-enable":{"get":{"operationId":"reEnableReleasedBooking","parameters":[{"in":"query","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"subId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/share":{"post":{"operationId":"shareBooking","parameters":[{"in":"query","name":"email","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompositeKey"}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/user/pageable/{login}":{"get":{"operationId":"getPagesForUser","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"in":"path","name":"login","required":true,"schema":{"type":"string"}},{"in":"query","name":"from","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"virtual","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for a specific user in pages","tags":["booking-resource"]}},"/api/v1/booking/user/{login}":{"get":{"operationId":"getForUser","parameters":[{"in":"path","name":"login","required":true,"schema":{"type":"string"}},{"in":"query","name":"from","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":false,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"virtual","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"confirmedBookings","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for a specific user","tags":["booking-resource"]}},"/api/v1/booking/usercircle":{"post":{"operationId":"getUserCircleBookings","parameters":[{"in":"query","name":"userIds","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"in":"query","name":"from","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get the bookings for user circle's members","tags":["booking-resource"]}},"/api/v1/booking/zone/{id}":{"get":{"operationId":"getZoneBookings","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"from","required":true,"schema":{"type":"integer","format":"int64"}},{"in":"query","name":"to","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Booking"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["booking-resource"]}},"/api/v1/booking/{id}":{"delete":{"operationId":"deleteOneSeries","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"hard","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Delete a compete booking","tags":["booking-resource"]},"get":{"operationId":"getOne","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Get details for a specific booking","tags":["booking-resource"]}},"/api/v1/booking/{id}/{subid}":{"delete":{"operationId":"deleteOne","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"path","name":"subid","required":true,"schema":{"type":"string"}},{"in":"query","name":"hard","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Delete a booking with a specific subid (one of a series)","tags":["booking-resource"]}},"/api/v1/camera-status":{"get":{"description":"Fetch the current status of all cameras being monitored.","operationId":"getCameraStatus","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraStatusMonitoringDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"summary":"Retrieve Camera Status","tags":["Network Element(Wifi/Ble/Camera/AirQuality) Monitoring API's"]}},"/api/v1/camera/analytics/distribution":{"post":{"operationId":"distributionQuery_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraDistributionReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/dwell":{"post":{"operationId":"cameraDwell","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraDwellReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/dwellDistribution":{"post":{"operationId":"dwellDistribution","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraDwellDistributionDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/entityDemographics":{"post":{"operationId":"entityDemographics","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityDemographicsDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/entitySessions":{"post":{"operationId":"getEntitySessions","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntitySessionRequestDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntitySessionResponseDTO"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/entryExit":{"post":{"operationId":"getEntryExitTimeseries","parameters":[{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntryExitReqDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntryExitRespDTO"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/maxDwellTime":{"post":{"operationId":"maxDwellTimeQuery","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraDistributionReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MaxDwellTimeResponseDTO"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/movementTree":{"post":{"operationId":"movementTreeV4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraMovementReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MovementTreeNode"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/movements":{"post":{"operationId":"clientMovements","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraEntityMovementReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Document"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/camera/analytics/pairwiseMovement":{"post":{"operationId":"pairwiseMovementV4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraPairwiseMovementReqDTO"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResultSet"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Camera Analytics Queries"]}},"/api/v1/cateringservice":{"delete":{"operationId":"delete_7","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringItem"}}}},"required":true},"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]},"post":{"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringItem"}}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringItem"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]},"put":{"operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringItem"}}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringItem"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category":{"get":{"operationId":"getAllCategories","responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringCategory"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]},"post":{"operationId":"saveCategories","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringCategory"}}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringCategory"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]},"put":{"operationId":"updateCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category/activeState/{id}":{"patch":{"operationId":"updateCategoryActiveField","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"active","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category/delete/{id}":{"delete":{"operationId":"deleteCategories","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category/name/{name}":{"get":{"operationId":"getCategoryByName","parameters":[{"in":"path","name":"name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category/updateImageId/{id}":{"patch":{"operationId":"updateCatergoryImageId","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"imageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/category/{id}":{"get":{"operationId":"getCategoryById","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringCategory"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/item/activeState/{id}":{"patch":{"operationId":"updateItemActiveField","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"active","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringItem"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/item/updateImageId/{id}":{"patch":{"operationId":"updateItemImageId","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"imageId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringItem"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/items":{"post":{"operationId":"getAll","parameters":[{"in":"query","name":"name","required":false,"schema":{"type":"string"}},{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CateringItemReqDTO"}}}},"responses":{"200":{"content":{"*/*":{"schema":{"type":"object"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders":{"post":{"operationId":"save_6","parameters":[{"in":"query","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringOrder"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/delete/{id}":{"delete":{"operationId":"deleteOrder_1","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/drafts":{"post":{"operationId":"saveDrafts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CateringOrderResponseDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringOrder"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/getAll":{"post":{"operationId":"getOrders","parameters":[{"in":"query","name":"includeDraftOrders","required":false,"schema":{"type":"boolean","default":false}},{"in":"query","name":"pageable","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CateringOrderRequestDTO"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringOrderResponseDTO"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/status":{"get":{"operationId":"findByStatus_1","parameters":[{"in":"query","name":"status","required":true,"schema":{"type":"string","enum":["draft","pending","preparing","completed","cancelled"]}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringOrder"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/update/{id}":{"patch":{"operationId":"updateByStatus_1","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}},{"in":"query","name":"status","required":true,"schema":{"type":"string","enum":["draft","pending","preparing","completed","cancelled"]}},{"in":"query","name":"cancellationReason","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringOrder"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/user/{email}":{"get":{"operationId":"getOrderByEmail_1","parameters":[{"in":"path","name":"email","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CateringOrder"}}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/orders/{id}":{"get":{"operationId":"findById_1","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringOrder"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/cateringservice/{id}":{"delete":{"operationId":"deleteById","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]},"get":{"operationId":"getById","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/CateringItem"}}},"description":"OK"},"400":{"content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ParameterizedErrorVM"},{"$ref":"#/components/schemas/ErrorVM"}]}}},"description":"Bad Request"},"403":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Forbidden"},"409":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Conflict"},"500":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorVM"}}},"description":"Internal Server Error"}},"tags":["Employee Catering"]}},"/api/v1/data/schema/current/{indexName}":{"get":{"description":"Retrieves the current schema and data retention setting for the specified Elasticsearch Index.","operationId":"getCurrentSchema","parameters":[{"description":"Name of the Elasticsearch index to retrieve the current schema and data retention setting for (without tenant prefix)","example":"dataminr","in":"path","name":"indexName","required":true,"schema":{"type":"string"}},{"description":"Set to true for a detailed schema response (not a valid Elasticsearch mapping)","example":false,"in":"query","name":"verbose","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"examples":{"Example Response when 'verbose' = false":{"description":"    Returns the current Elasticsearch Index Schema and data retention setting.\n    schemaJson is a valid Elasticsearch Index Mapping.\n","value":{"id":"605c72f0b72d4e001b73eabc","name":"default.ext.dataminr","version":1,"schemaJson":{"_meta":{"description":"mapping description","fields":{"field1":{"description":"description for field1"},"field2":{"description":"description for field2"}}},"properties":{"field1":{"type":"text"},"field2":{"type":"keyword"}}},"ttlHours":720,"ttlField":"eventTimestamp"}},"Example Response when 'verbose' = true":{"description":"    Returns a more descriptive Elasticsearch Index schema mapping and data retention setting.\n    However, the schemaJson will not be a valid Elasticsearch 
[...]
