@import "../variables.theme.scss";
body{
    font-size: var(--text-sm-font-size);
    line-height: var(--text-sm-line-height);
}

@mixin type-scale($font-size, $line-height, $tracking) {
  font-size: $font-size !important;
  line-height: $line-height !important;
  letter-spacing: $tracking !important;
}

.theme-text {
  color: var(--primary-500) !important;
}
.error-text{
    color: var(--error-500) !important;
}
.warning-text{
    color: var(--warning-500) !important;
}
.success-text{
    color: var(--success-500) !important;
}

.text-white {
  color: #fff !important;
}

.text-mim {
  color: #403256 !important;
}

.text-black {
  color: var(--bg-charcoal) !important;
}

.secondary-text {
  color: var(--secondary-text) !important;
}

.mb-5 {
  margin-bottom: var(--margin-lg);
}

.mx-5 {
  margin: var(--margin-lg) 0 var(--margin-lg) 0;
}

.my-5 {
  margin: 0 var(--margin-lg) 0 var(--margin-lg);
}

.mx-10 {
  margin: var(--margin-10xl) 0 var(--margin-10xl) 0;
}

// Usage examples
.display-2xl {
  @include type-scale(var(--display-2xl-font-size), var(--display-2xl-line-height), var(--display-2xl-tracking));
}

.display-xl {
  @include type-scale(var(--display-xl-font-size), var(--display-xl-line-height), var(--display-xl-tracking));
}

.display-lg {
  @include type-scale(var(--display-lg-font-size), var(--display-lg-line-height), var(--display-lg-tracking));
}

.display-md {
  @include type-scale(var(--display-md-font-size), var(--display-md-line-height), var(--display-md-tracking));
}

.display-sm {
  @include type-scale(var(--display-sm-font-size), var(--display-sm-line-height), var(--display-sm-tracking));
}

.display-xs {
  @include type-scale(var(--display-xs-font-size), var(--display-xs-line-height), var(--display-xs-tracking));
}

.text-2xl {
  @include type-scale(var(--text-2xl-font-size), var(--text-2xl-line-height), 0);
}

.text-xl {
  @include type-scale(var(--text-xl-font-size), var(--text-xl-line-height), 0);
}

.text-lg {
  @include type-scale(var(--text-lg-font-size), var(--text-lg-line-height), 0);
}

.text-md {
  @include type-scale(var(--text-md-font-size), var(--text-md-line-height), 0);
}

.text-sm {
  @include type-scale(var(--text-sm-font-size), var(--text-sm-line-height), 0);
}

.text-xs {
  @include type-scale(var(--text-xs-font-size), var(--text-xs-line-height), 0);
}

.text-2xs {
  @include type-scale(var(--text-2xs-font-size), var(--text-2xs-line-height), 0);
}

/* Headings */
// h1 {
//   font-size: var(--display-sm-font-size) !important;
//   line-height: var(--display-sm-line-height) !important;
//   color: var(--primary-text) !important;
//   margin-bottom: var(--spacing-sm) !important;
//   margin: 0px !important;
//   font-weight: var(--text-xl-font-weight) !important;
// }

// h2 {
//   font-size: var(--display-xs-font-size) !important;
//   line-height: var(--display-xs-line-height) !important;
//   color: var(--primary-text) !important;
//   margin: 0px !important;
//   margin-bottom: var(--spacing-xs) !important;
// }

// h3 {
//   font-size: var(--display-2xs-font-size) !important;
//   line-height: var(--display-2xs-line-height) !important;
//   color: var(--primary-text) !important;
//   margin: 0px !important;
//   margin-bottom: var(--spacing-xxs) !important;
// }

// h4 {
//   font-size: var(--display-3xs-font-size) !important;
//   line-height: var(--display-3xs-line-height) !important;
//   color: var(--primary-text) !important;
//   margin: 0px !important;
//   margin-bottom: var(--spacing-md) !important;
// }

// h5 {
//   font-size: var(--display-4xs-font-size) !important;
//   line-height: var(--display-4xs-line-height) !important;
//   color: var(--primary-text) !important;
//   margin: 0px !important;
//   margin-bottom: var(--spacing-sm) !important;
// }

// h6 {
//   font-size: var(--display-xs-font-size) !important;
//   line-height: var(--display-xs-line-height) !important;
//   color: var(--primary-text) !important;
//   margin: 0px !important;
//   margin-bottom: var(--spacing-xs) !important;
// }

/* Paragraph */
// p {
//   font-size: var(--text-md-font-size) !important;
//   line-height: var(--text-md-line-height) !important;
//   color: var(--primary-text) !important;
//   font-weight: 300 !important;
// }

/* Links */
// a {
//   font-size: var(--text-lg-font-size);
//   line-height: var(--text-lg-line-height);
//   color: var(--primary-text); // Primary color
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//     color: var(--primary-text);
//     opacity: 0.5;
//   }
// }

.font-xl {
  font-family: 'Kloud Bold' !important;
  font-weight: var(--text-lg-font-weight) !important;
}

.font-lg {
  font-family: 'Kloud SemiBold' !important;
  font-weight: var(--text-lg-font-weight) !important;
}

.font-md {
  font-family: 'Kloud Medium' !important;
  font-weight: var(--text-lg-font-weight) !important;
}

.font-sm {
  font-family: 'Kloud Regular' !important;
  font-weight: var(--text-lg-font-weight) !important;
}

.primary-text {
  color: var(--primary-text) !important;
}

.secondary-text {
  color: var(--secondary-text) !important;
}

.tertiary-text {
  color: var(--tertiary-text) !important;
}

.quaternary-text {
  color: var(--quaternary-text) !important;
}

/* Alignments */
.text-center {
  text-align: center;
}
.align-center{
   align-content: center;

}
.gap-xl{
    gap: var(--spacing-3xl) !important;
}
.gap-lg{
    gap: var(--spacing-xl) !important; 
}
.gap-md{
    gap: var(--spacing-md) !important; 
}
.gap-sm{
    gap: var(--spacing-xs) !important;
}
