@font-face {
  font-family: 'Kloud Regular';
  src: url('../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Regular.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kloud Medium';
  src: url('../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Light.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kloud SemiBold';
  src: url('../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-SemiBold.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Kloud Bold';
  src: url('../fonts/IBM_Plex_Sans_Arabic/IBMPlexSansArabic-Bold.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}